<% @posts.each do |p| %>
	<article>
		<% if p.link %>
			<h2><%= link_to '<span class="glyphicon glyphicon-link"></span>'.html_safe + '&nbsp;'.html_safe + p.title, p.link_url %></h2>
		<% else %>
			<h2><%= p.title %></h2>
		<% end %>
		<% # Use RedCloth to display p.content as HTML after sanitizing %>
		<%= sanitize RedCloth.new(p.content).to_html %>
		<small class="text-muted"><%= link_to '&infin;'.html_safe, p %> | Posted by <%= p.user_id ? User.find(p.user_id).first_name : 'a ghost' %> at <%= p.created_at.in_time_zone.strftime('%Y-%m-%d %l:%M:%S %p') %></small>
	</article>
	<div class="separator">
		<span class="glyphicon glyphicon-glass glass-separator"></span>
	</div>
<% end %>
