<% if Rails.env.production? && current_user.nil? %>
  <% StatHat::API.ez_post_count("Blog Page View", CONFIG[:stathat_ez_api_key], 1) %>
<% end %>

<% content_for :head, auto_discovery_link_tag(:atom, posts_url(format: "atom")) %>

<% @posts.each_with_index do |p, i| %>
	<article>
		<% if p.link %>
			<h2><%= link_to '<span class="glyphicon glyphicon-link"></span>'.html_safe + '&nbsp;'.html_safe + p.title, p.link_url %></h2>
		<% else %>
			<h2><%= p.title %></h2>
		<% end %>
		<% # Check if Post.content exists otherwise RedCloth will raise TypeError %>
		<% if p.content %>
  		<% # Convert Post.content to sanitized HTML %>
  		<%= sanitize RedCloth.new(p.content).to_html %>
		<% end %>
		<small class="text-muted"><%= link_to '&infin;'.html_safe, p %> | Posted by <%= p.user_id ? User.find(p.user_id).first_name : 'a ghost' %> at <%= p.created_at.in_time_zone.strftime('%Y-%m-%d %l:%M:%S %p') %></small>
	</article>

	<% unless ( i + 1 ) == @posts.length %>
		<div class="separator">
			<i class="fa fa-caret-down caret-separator"></i>
		</div>
	<% end %>
<% end %>
