<% if @post.link %>
  <% if @post.draft? %>
    <h2><%= link_to '<span class="glyphicon glyphicon-link"></span>'.html_safe + '&nbsp;'.html_safe + @post.title, @post.link_url %>&nbsp;<small><span class="label label-default">Draft</span></small></h2>
  <% else %>
    <h2><%= link_to '<span class="glyphicon glyphicon-link"></span>'.html_safe + '&nbsp;'.html_safe + @post.title, @post.link_url %></h2>
  <% end %>
<% else %>
  <% if @post.draft? %>
    <h2><%= @post.title %>&nbsp;<small><span class="label label-default">Draft</span></small></h2>
  <% else %>
    <h2><%= @post.title %></h2>
  <% end %>
<% end %>
<% # Check if Post.content exists otherwise RedCloth will raise TypeError %>
<% if @post.content %>
  <% # Convert Post.content to sanitized HTML %>
  <%= sanitize RedCloth.new(@post.content).to_html %>
<% end %>

