<!DOCTYPE html>
<html>
<head>
  <title>WesHargrove.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <%= twitter_bootstrap_stylesheet_link_tag :netdna, force: true, version: '3.0.2' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= twitter_bootstrap_javascript_include_tag :netdna, force: true, version: '3.0.2' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= favicon_link_tag '/assets/favicon-0b698085e925ce538fdaf7b6367f63a5.ico' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <header class="container">
  	<% if current_user %>
  		<p class="text-right">Logged in as <%= current_user.first_name %>.
  		<%= link_to '(Not ' + current_user.first_name + '?)', logout_path, method: :delete %></p>
    <% end %>
  	<h1 class="text-left"><%= link_to 'WesHargrove.com', root_path %></h1>
  </header>


	<div class="container">
		<%= yield %>
	</div>

	<footer>
    <p class="text-center" id="rss">
      <a href="feed://weshargrove.com/atom"><i class="fa fa-rss-square fa-2x rss-color"></i></a>
    </p>
		<p class="text-center text-muted"><small>Powered by <%= link_to 'Vino', 'https://github.com/whargrove/Vino' %>. Hosted on <%= link_to 'Digital Ocean', 'https://www.digitalocean.com/?refcode=f391b77be531' %>.</small></p>
	</footer>

</body>
</html>
