<!DOCTYPE html>
<html>
<head>
  <title>WesHargrove.com</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>
		<header class="container">
			<p class="text-right">Logged in as <%= current_user.first_name %>.
			<%= link_to '(Not ' + current_user.first_name + '?)', logout_path, method: :delete %></p>
	<% else %>
		<header class="container">
			<p class="text-right"><%= link_to 'Sign up', signup_path %> or
			<%= link_to 'Log in', login_path %></p>
	<% end %>
			<h1 class="text-left"><%= link_to 'WesHargrove.com', root_path %></h1>
		</header>

	<div class="container">
		<%= yield %>
	</div>

	<footer>
		<p class="text-center">Powered by Vino. Hosted on Digital Ocean.</p>
	</footer>

</body>
</html>
