<!DOCTYPE html>
<html>
<head>
  <title>The blog of Wes Hargrove</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <%= favicon_link_tag '/favicon.ico' %>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="favicon-57.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= yield :head %>
</head>
<body>
	<% if current_user %>
  <!-- Begin admin navigation -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hi, <%= current_user.first_name %>!</a>
    </div><!-- /.navbar-header -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Posts', admin_posts_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Log out',  logout_path, method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
  <% end %>
  <header class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1 class="text-left"><small>the blog of</small><br><%= link_to 'Wes Hargrove', root_path %></h1>
      </div>
      <div class="col-sm-5">
        <ul class="nav nav-pills pull-right hidden-xs" id="identities">
          <li><a href="http://www.twitter.com/whargrove" data-toggle="tooltip" data-placement="bottom" title="@whargrove" id="id-twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href="http://www.github.com/whargrove" data-toggle="tooltip" title="Github" id="id-github"><i class="fa fa-github-alt fa-2x"></i></a></li>
          <li><a href="http://resume.weshargrove.com/" data-toggle="tooltip" title="r&eacute;sum&eacute;" id="id-resume"><i class="fa fa-file-text fa-2x"></i></a></li>
          <li><a href="http://whphoto.co/" data-toggle="tooltip" title="photography" id="id-photography"><i class="fa fa-camera fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </header>

	<div class="container">
		<%= yield %>
	</div>

	<footer class="container">
    <p class="text-center" id="rss">
      <a href="feed://weshargrove.com/atom"><i class="fa fa-rss-square fa-2x rss-color"></i></a>
    </p>
		<p class="text-center text-muted"><small>Powered by <%= link_to 'Vino', 'https://github.com/whargrove/Vino' %>. Hosted on <%= link_to 'Digital Ocean', 'https://www.digitalocean.com/?refcode=f391b77be531' %>.</small></p>
	</footer>
</body>
</html>
